* {
    box-sizing: border-box;
  }
  
  html {
    max-width: 100%
    
  }
  
    
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    max-width: 100%
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-style: bold;
    font-variant: bold;
  }
  

  li a:hover {
    background-color: #111;
  }
        
        
        

    * {box-sizing: border-box}





input[type=text], input[type='fname'] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text], input[type='Lname'] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=number], input[type='Mobile'] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}


.registerbtn {
  background-color: 02acb9;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}


a {
  color: dodgerblue;
}


.signin {
  background-color: #f1f1f1;
  text-align: center;
}

 
 .column {
    float: left;
    width: 16.6667%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    margin-top: 50px;
  
  }

  .column img:hover {
    opacity: 0.8;
  }
  

  .column:after {
    content: "";
    clear: both;
    display: table;
  } 

  h2 {
    text-align: left;
    text-transform: capitalize;
    
  }

  

  p {
    margin-left: 20px;
    text-align: left;
    font-family: Helvetica;
    font-style: bold;
    font-variant: bold;
    color: black;
  }

  button {
    font-size: 200%;
    text-align: center;
    color: rgb(255, 255, 255);
  }
  
  .container::after { 
    content: "";
    clear: both;
    display: table;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }



 img {max-width:100%;} 

 
